In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load dataset
df = pd.read_csv("dataset/dvd_rental_joined_data.csv")

# Display basic info about the dataset
print("datatype:", df.info())
print("\nShape:", df.shape)
print("\nUnique values per column:", df.nunique())
print("\nMissing values:", df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160230 entries, 0 to 160229
Data columns (total 27 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   film_title        160230 non-null  object
 1   film_description  160230 non-null  object
 2   release_year      160230 non-null  int64
 3   rental_duration   160230 non-null  int64
 4   rental_rate       160230 non-null  float64
 5   length            160230 non-null  int64
 6   replacement_cost  160230 non-null  float64
 7   rating            160230 non-null  object
 8   special_features  160230 non-null  object
 9   film_language     160230 non-null  object
 10  film_genre        160230 non-null  object
 11  rental_date       160230 non-null  object
 12  return_date       158212 non-null  object
 13  payment_amount    160230 non-null  float64
 14  payment_date      160230 non-null  object
 15  actor_name        160230 non-null  object
 16  customer_name     160230 non-null  object
 17  email_id          160230 non-null  object
 18  membership        160230 non-null  bool
 19  address           160230 non-null  object
 20  phone_number      160230 non-null  int64
 21  district          159182 non-null  object
 22  city              160230 non-null  object
 23  country           160230 non-null  object
 24  staff_name        160230 non-null  object
 25  availability      160230 non-null  bool
 26  store_id          160230 non-null  int64
dtypes: bool(2), float64(3), int64(5), object(17)
memory usage: 30.9+ MB
datatype: None

Shape: (160230, 27)

Unique values per column: film_title            955
film_description      955
release_year            1
rental_duration         5
rental_rate             3
length                140
replacement_cost       21
rating                  5
special_features       15
film_language           1
film_genre             16
rental_date         14327
return_date         14350
payment_amount         19
payment_date        14328
actor_name            199
customer_name         599
email_id              599
membership              2
address               599
phone_number          599
district              375
city                  597
country               108
staff_name              2
availability            1
store_id                2
dtype: int64

Missing values: film_title             0
film_description       0
release_year           0
rental_duration        0
rental_rate            0
length                 0
replacement_cost       0
rating                 0
special_features       0
film_language          0
film_genre             0
rental_date            0
return_date         2018
payment_amount         0
payment_date           0
actor_name             0
customer_name          0
email_id               0
membership             0
address                0
phone_number           0
district            1048
city                   0
country                0
staff_name             0
availability           0
store_id               0
dtype: int64

In [14]:
df.head()   # Display first few rows of the dataset

,film_title,film_description,release_year,rental_duration,rental_rate,length,replacement_cost,rating,special_features,film_language,...,email_id,membership,address,phone_number,district,city,country,staff_name,availability,store_id
0,Rules Human,A Beautiful Epistle of a Astronaut And a Stude...,2006,6,4.99,153,19.99,R,"{""Deleted Scenes"",""Behind the Scenes""}",English,...,peter.menard@sakilacustomer.org,True,1217 Konotop Avenue,718917251754,Gelderland,Ede,Netherlands,Jon Stephens,True,2
1,Rules Human,A Beautiful Epistle of a Astronaut And a Stude...,2006,6,4.99,153,19.99,R,"{""Deleted Scenes"",""Behind the Scenes""}",English,...,peter.menard@sakilacustomer.org,True,1217 Konotop Avenue,718917251754,Gelderland,Ede,Netherlands,Jon Stephens,True,2
2,Rules Human,A Beautiful Epistle of a Astronaut And a Stude...,2006,6,4.99,153,19.99,R,"{""Deleted Scenes"",""Behind the Scenes""}",English,...,peter.menard@sakilacustomer.org,True,1217 Konotop Avenue,718917251754,Gelderland,Ede,Netherlands,Jon Stephens,True,2
3,Rules Human,A Beautiful Epistle of a Astronaut And a Stude...,2006,6,4.99,153,19.99,R,"{""Deleted Scenes"",""Behind the Scenes""}",English,...,peter.menard@sakilacustomer.org,True,1217 Konotop Avenue,718917251754,Gelderland,Ede,Netherlands,Jon Stephens,True,2
4,Rules Human,A Beautiful Epistle of a Astronaut And a Stude...,2006,6,4.99,153,19.99,R,"{""Deleted Scenes"",""Behind the Scenes""}",English,...,peter.menard@sakilacustomer.org,True,1217 Konotop Avenue,718917251754,Gelderland,Ede,Netherlands,Jon Stephens,True,2

In [15]:
# Find columns with missing values
missing_columns = df.columns[df.isnull().any()]

print(f"Columns with missing values: {missing_columns}")
print("\nMissing values in each column:\n", df[missing_columns].isnull().sum())

# Calculate the percentage of missing values in each column
missing_percentage = df.isnull().mean() * 100

# Filter only columns that have missing values
missing_percentage = missing_percentage[missing_percentage > 0]

# Print the percentage of missing values in each column, rounded to 2 decimal places
print("\nPercentage of missing values in each column:")
print(missing_percentage.round(2))

Columns with missing values: Index(['return_date', 'district'], dtype='object')

Missing values in each column:
 return_date    2018
district       1048
dtype: int64

Percentage of missing values in each column:
return_date    1.26
district       0.65
dtype: float64

In [16]:
# Drop rows with missing values
df.dropna(inplace=True)

# Check for duplicates and drop if any
print("\nDuplicate rows:", df.duplicated().sum())
df.drop_duplicates(inplace=True)

# Verify changes
print("\nShape after cleaning:", df.shape)

Duplicate rows: 78582

Shape after cleaning: (78582, 27)

In [17]:
# Total rows in the table
total_rows = df.shape[0]
print(f'Total rows in the table: {total_rows}')

Total rows in the table: 78582

In [18]:
df['rental_date'] = pd.to_datetime(df['rental_date'])
df['return_date'] = pd.to_datetime(df['return_date'])

# Extract month, day, and hour from rental_date

df['rental_month'] = df['rental_date'].dt.month
df['rental_day'] = df['rental_date'].dt.day
df['rental_hour'] = df['rental_date'].dt.hour

# Extract month, day, and hour from return_date

df['return_month'] = df['return_date'].dt.month
df['return_day'] = df['return_date'].dt.day
df['return_hour'] = df['return_date'].dt.hour

# Calculate rental duration (in days)
df['rental_duration_days'] = (df['return_date'] - df['rental_date']).dt.days

In [8]:
# Identify numerical and categorical columns
numerical_cols = df.select_dtypes(include=['float64', 'int64']).columns.tolist()
categorical_cols = df.select_dtypes(include=['object']).columns.tolist()

# Print numerical and categorical columns
print("Numerical Columns:")
print(numerical_cols)
print("\nCategorical Columns:")
print(categorical_cols)

Numerical Columns:
['release_year', 'rental_duration', 'rental_rate', 'length', 'replacement_cost', 'payment_amount', 'phone_number', 'store_id', 'rental_duration_days']

Categorical Columns:
['film_title', 'film_description', 'rating', 'special_features', 'film_language', 'film_genre', 'payment_date', 'actor_name', 'customer_name', 'email_id', 'address', 'district', 'city', 'country', 'staff_name']

In [ ]:
from sklearn.feature_selection import VarianceThreshold

# Set a threshold for variance
threshold = 0.5  # Set a threshold (e.g., 50%)
selector = VarianceThreshold(threshold)
high_variance_features = selector.fit_transform(df)

missing_percentage = df.isnull().mean() * 100
print(missing_percentage[missing_percentage > threshold])

In [11]:
# Drop duplicate columns
df = df.loc[:, ~df.columns.duplicated()]

# Drop constant columns
df = df.loc[:, df.nunique() > 1]

In [12]:
df.columns

Index(['film_title', 'film_description', 'rental_duration', 'rental_rate',
       'length', 'replacement_cost', 'rating', 'special_features',
       'film_genre', 'rental_date', 'return_date', 'payment_amount',
       'payment_date', 'actor_name', 'customer_name', 'email_id', 'membership',
       'address', 'phone_number', 'district', 'city', 'country', 'staff_name',
       'store_id', 'rental_month', 'rental_day', 'rental_hour', 'return_month',
       'return_day', 'return_hour', 'rental_duration_days'],
      dtype='object')

In [ ]:
# remove unnecessary columns

# df.drop(['release_year', 'film_language', 'film_title','film_description'] axis=1, inplace=True)
# df.drop(['rental_date','return_date'], axis=1, inplace=True)